on:
  push:
    branches:
      - main

jobs:
  test-runenr:
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3

      - name: Helm release test
        uses: devopshobbies/helm-releaser@v1.0.19
        with:
          remoteRepository: ${{ vars.REMOTE_REPOSITORY }}
          chartName: "generic"
          releaseName: "kaiser-pavo"

          chartVersion: "0.1.1"
          kubeConfig: ${{ secrets.KUBE_CONFIG }}
          context: "kind-kaiser-staging"
