on:
  push:
    branches:
      - main

jobs:
  test-runenr:
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3

      - name: Helm release test
        uses: devopshobbies/helm-releaser@v1.0.5
        with:
          token: ${{ github.token }}
          genericChart: "https://github.com/devopshobbies/helm-generic/archive/refs/tags/0.0.6.tar.gz"
          kubeConfig: ${{ secrets.KUBE_CONFIG }}
          context: "kind-kaiser-staging"
