on:
  push:
    branches:
      - main

jobs:
  test-runenr:
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3
      
      - name: Install yq
        run: |
          sudo snap install yq

      - name: Update deployment.image.tag
        run: |
          yq eval -i ".deployment.image.tag = \"v1.0.5\"" .helm/values.yaml
          
      - name: Run echo values.yaml
        run: cat .helm/values.yaml
      
      - name: Helm release test
        uses: devopshobbies/helm-releaser@v1.0.19
        with:
          remoteRepository: ${{ vars.REMOTE_REPOSITORY }}
          chartName: "generic"
          releaseName: "kaiser-pavo"

          chartVersion: "0.1.1"
          kubeConfig: ${{ secrets.KUBE_CONFIG }}
          context: "kind-kaiser-staging"
          
      - uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          add: '.helm'
          message: '[auto]: Update values.yaml'
        
        
        
        
        
        
        
        
        
        
        
        
        
